
html,
body,
*,
*::before,
*::after {
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
}

/* containers */
.banner-wrapper {
    background-color: #424245;
    padding: 15px;
    font-size: 2rem;
}

.banner {
    margin-left: 15%;
    color: #fff;
}

.service-name {
    background-color:#424245;
}

.body-wrapper {
    /* height: 650px; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-top: 7px solid #000000;
}

.foot-wrapper {
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
}

/* table */
.table {
    border-collapse: collapse;
    width: 100%;
}

.tabel-data {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 50px;
}

.header {
    background-color: #424245;
    color: #fff;
    padding: 10px;
}

/* typography */
.button {
    float: right;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}