<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block pageTitle %}Changing Places{% endblock %}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/favicon.ico">
    </head>

    <body>
        <header>
            <div>
                <div class="bannerwrapper">
                    <div class="banner">
                        <p class="service-name">
                            {% block serviceName %} Changing Places {% endblock %}
                        </p>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}
        no body block defined
        {% endblock %}
    </body>

    <footer>
        {% include "nunjucks/partials/footer.njk"%}
    </footer>

<script type="text/javascript" src="scripts/hide.js"></script>

</html>
