.bannerwrapper {
    background-color: #3f3f3f;
    padding: 15px;
    font-size: 2rem;
}

.banner {
    margin-left: 15%;
    color: aliceblue;
}

.service-name {
    background-color: #3f3f3f;;
}

.bodywrapper {
    background-color: #ddf2ff;
    height: 650px;
    padding-left: 15%;
    padding-top: 50px;
    border-top: 10px solid #2f759e;
}

.footwrapper {
    background-color: #3f3f3f;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
}