@import 'node_modules/govuk-frontend/govuk/all';

html,
body,
*,
*::before,
*::after {
    font-family: Arial !important;
    box-sizing: border-box;
}

.govuk-footer__copyright-logo {
    background-image: url('/images/govuk-crest-2x.png');
}

@import 'test';
