{% extends "nunjucks/templates/base.njk" %}
{% block body %}
    <div class="bodywrapper">
        <h1 class="heading"> Please select an option </h1>
        <ul class="list">
            <li class="listitem">apple</li>
            <li class="listitem">apple</li>
            <li class="listitem">apple</li>
        </ul>

    </div>
{% endblock %}
